<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">
  <%- include('../partials/head.ejs') %>
  <body class="h-full">
    <%- include ("../partials/nav.ejs") %>

    <header
      class="bg-[url('/images/bg-headphone.jpg')] bg-cover bg-center text-center my-auto h-60 w-full py-16"
    >
      <h4 class="text-2xl">
        Your
        <span
          class="tracking-wide underline font-bold hover:text-red-400 cursor-pointer"
          >famuz</span
        >
        center
      </h4>

      <p class="text-md w-80 mx-auto my-5">
        Very well done, you're just a few more steps away!
      </p>
    </header>

    <main class="container mx-auto">
      <div class="grid grid-flow-row grid-cols-4">
        <!-- side nav -->
        <%- include ("../partials/side-nav.ejs") %>

        <div class="col-span-3 py-6">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate sed
          vel dolore corrupti natus reprehenderit nihil rem excepturi nulla
          odit, autem quibusdam expedita laudantium blanditiis! Cumque
          temporibus quia beatae perspiciatis sapiente ratione nesciunt ipsa
          tempore maiores magni, quibusdam non quisquam nisi commodi vel
          voluptatum necessitatibus modi repudiandae enim quis.
        </div>
      </div>
    </main>

    <%- include ("../partials/footer.ejs") %>
  </body>
</html>
