<footer class="text-center bg-black text-white">
  <div class="py-3">Copyright &copy; 2022</div>
</footer>

<!-- <script src="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.bundle.js"></script> -->

<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"
></script>

<script src="/js/froala.js"></script>

<script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>

<script src="/reload/reload.js"></script>
