<div class="py-8 pr-5">
  <div class="border-dashed border-2 border-red-500 mb-5">
    <h2 class="font-bold p-2"><i class="fas fa-bars ml-1 mr-2"></i> Menu</h2>
  </div>

  <ul class="divide-y divide-gray-500 mt-3">
    <li
      class="py-2 hover:border-red-500 hover:text-red-600 hover:border-x-2 hover:border-dotted hover:border-t-2 hover:pl-3 hover:cursor-pointer hover:font-semibold"
      onclick="window.location.href='/muz'"
    >
      <a href="/muz">Muz Center</a>
    </li>
    <li
      class="py-2 hover:border-red-500 hover:text-red-600 hover:border-l-2 hover:border-dotted hover:pl-3 hover:cursor-pointer hover:font-semibold"
      onclick="window.location.href='/muz-center/songs/'"
    >
      <a href="/muz-center/songs">Songs</a>
    </li>
    <li
      class="py-2 hover:border-red-500 hover:text-red-600 hover:border-l-2 hover:border-dotted hover:pl-3 hover:cursor-pointer hover:font-semibold"
      onclick="window.location.href='/muz-center/categories'"
    >
      <a href="/muz-center/categories">Categories</a>
    </li>
    <li
      class="py-2 hover:border-red-500 hover:text-red-600 hover:border-l-2 hover:border-dotted hover:pl-3 hover:cursor-pointer hover:font-semibold"
      onclick="window.location.href='/'"
    >
      <a href="/">Exit</a>
    </li>
    <li></li>
  </ul>
</div>
