<div class="hexa">
  <div class="hex1">
    <div
      class="hex2 bg-cover bg-center bg-blend-multiply hover:bg-[#1f08177e] hover:cursor-pointer hover:font-semibold"
      style="
        background-image: linear-gradient(
            rgba(147, 75, 196, 0.9),
            rgba(35, 35, 36, 0.9)
          ),
          url(/images/guitar.jpg);
      "
    >
      <!-- <img src="/images/guitar.jpg" alt="" width="300" /> -->

      <div class="absolute flex justify-center items-center h-56">
        <h4 class="text-white text-xl m-auto text-center">Number <%= i %></h4>
      </div>
    </div>
  </div>
</div>
