<!-- Main modal -->
<div
  id="category-modal2"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full"
>
  <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
    <!-- Modal content -->
    <div class="to-gray-300 from-gray-100 bg-gradient-to-tr shadow">
      <div class="flex justify-end p-2">
        <button
          type="button"
          class="text-red-500 bg-transparent hover:bg-red-500 hover:text-white rounded-full text-sm p-2 ml-auto inline-flex items-center mr-2 mt-2"
          data-modal-toggle="category-modal2"
        >
          <i class="fal fa-lg fa-times"></i>
        </button>
      </div>
      <form
        class="px-6 pb-4 space-y-6 lg:px-8 sm:pb-6 xl:pb-8"
        action="/muz-center/categories"
        method="post"
        enctype="multipart/form-data"
        id="editCatgform"
      >
        <h2 class="text-2xl font-medium text-red-500">Add a Category</h2>

        <% console.log('modal ed: ', categoryEdit) %>

        <!-- Category inputs -->
        <div class="grid grid-6 grid-cols-2 space-x-3">
          <div>
            <label
              for="title"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Category Title</label
            >
            <input
              type="text"
              name="title"
              id="cTitle"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-none block w-full p-2.5"
              placeholder="Pop"
              required
              value="<%= categoryEdit ? categoryEdit.name : '' %>"
            />
          </div>

          <div>
            <label
              for="cImage"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Category Image</label
            >
            <input
              type="file"
              name="cImage"
              id="cImage"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-none block w-full p-2.5"
            />
            <div class="mt-1 text-xs text-gray-500" id="user_avatar_help">
              Any category image could be useful
            </div>
          </div>
        </div>

        <div class="flex items-center space-x-2 py-4 justify-between">
          <button
            type="button"
            class="text-white bg-gray-800 hover:text-red-600 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center italic"
            id="deleteCatgbtn"
            onclick="deleteCatg()"
          >
            Delete
          </button>
          <div>
            <button
              type="button"
              class="text-white bg-gray-500 hover:bg-gray-600 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              data-modal-toggle="category-modal2"
            >
              Cancel
            </button>

            <button
              type="submit"
              class="text-white bg-red-500 hover:bg-red-600 focus:ring-4 focus:outline-none focus:border-none font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              data-modal-toggle="category-modal2"
            >
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function deleteCatg() {
    if (catId != null) {
      deleteCategory(catId);
      console.log("deleting");
    }
  }
</script>
